<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-6">
      <%= link_to "Volver a los pagos", root_path, class: "btn btn-link" %>
      <% unless @error %>
        <table class="table table-bordered mt-3">
          <tr>
            <th>Referencia</th>
            <td><%= @charge.uid %></td>
          </tr>
          <tr>
            <th>Estado</th>
            <td><%= @data["x_response"] %></td>
          </tr>
          <tr>
            <th>Fecha</th>
            <td><%= @data["x_transaction_date"] %></td>
          </tr>
          <tr>
            <th>Valor</th>
            <td><%= @charge.amount %></td>
          </tr>
          <tr>
            <th>Banco</th>
            <td><%= @data["x_bank_name"] %></td>
          </tr>
          <tr>
            <th>Mensaje</th>
            <td><%= @data["x_response_reason_text"] %></td>
          </tr>
        </table>
      </div>
    <% else %>
    <div class="alert alert-danger mt-4" role="alert">
      No se encontró la información solicitada. Comunícate con ... para más información.
    </div>
    <% end %>
  </div>
</div>
